<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <activity
      android:name=".presentation.PaymentGatewayActivity"
      android:theme="@style/Theme.AppCompat.Translucent"
      android:windowSoftInputMode="adjustResize"
      android:launchMode="singleTask"
      android:exported="false"/>

    <meta-data
      android:name="com.google.android.gms.wallet.api.enabled"
      android:value="true"/>

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">
      <meta-data
        android:name="com.guavapay.paymentsdk.LibraryZygote"
        android:value="androidx.startup" />
    </provider>

    <meta-data
      android:name="io.sentry.auto-init"
      android:value="false"
      tools:node="merge"/>
  </application>
</manifest>
